.topics-container {
    border: 3px solid brown;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.topic-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: coral;
    border: none;
    border-radius: 3px;
}

button a {
    text-decoration: none;
    color: blueviolet;
}