.topics-container {
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.topic-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topics-container button {
    background-color: coral;
    border: none;
    border-radius: 3px;
}

.topics-container button a {
    text-decoration: none;
    color: blueviolet;
}