.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h5 {
    margin: 15px;
}

.navlink a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.banner {
    background-image: url("download.jpeg");
    height: 10%;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

.active {
    background-color: white;
    padding: 2px 5px;
    border-radius: 4px;
}

@media screen and (max-width:576px) {
    .banner {
        background-image: url("retina\ \(1\).png");
        height: 10%;
    }
}